.resetPassword{
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.resetPassword .wrapresetpassword{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
.resetPassword .wrapresetpassword .wrappedpassword{
    margin-top: 100px;
}
.resetPassword .wrapresetpassword .wrappedpassword form{
    background-color: white;
    padding: 20px;
    width: 400px;
    max-width: 90%;
}
.forminput{
    margin-top: 30px;
}
.forminput label{
    position: absolute;
    margin-top: -25px;
    text-transform: capitalize;
}
.forminput input{
    width: 100%;
    
}
.resetinput input[type='submit']{
    margin-top: 10px;
    
}